<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today</title>

    <link rel="stylesheet" href="css/styles.css">
</head>

<body>


    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

    <div class="box">
        <% for(let i=0; i<newItem.length; i++){ %>
        <div class="item">
            <input type="checkbox">
            <p><%= newItem[i] %></p>
        </div>
        <%  }  %>

        <form action="/" method="POST" class="item">
            <input type="text" name="toDoList" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %>  class="btn">+</button>
        </form>

    </div>



</body>

</html>